<h1>PoSheets#create</h1>
<p>Find me in app/views/po_sheets/create.html.erb</p>

<talbe>
  <%= form_for @po_sheets, url:{controller:'', action:''} do |form| %>
  <tr>
    <td>
    </td>
  <td/>

  <% end %>
</talbe>


